.result-page{
        display: flex;
        flex-direction: column;
        gap:100px;
        margin:0 auto;
    h1{ 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:yellow;
        text-align: center;
            img{
                width:50%;
                height:auto;
            }
    }
    .scorecard{
        text-align: center;
        margin-top:-80px;
        p:nth-child(1){
            color:yellow;
            font-size: 21px;
            img{
                width:40%;
            }
        }

        p:nth-child(2){
            margin-top:-20px;
            font-family: "Bungee", sans-serif;
            font-weight: 400;
            color: yellow;
            font-size: 70px;            
        }
    }

    .congo{
        margin-top:-100px;
        text-align: center;
        color:yellow;
        font-size: 21px;
        img{
            width:50%;
        }
    }
}