.quiz-wrapper{
    background-image: linear-gradient(to right bottom, #442ad1, #5532ce, #623acb, #6d42c9, #774ac6, #774ac6, #774ac6, #774ac6, #6d42c9, #623acb, #5532ce, #442ad1);
    padding: 20px;
    margin:0 auto;
    min-width:70%;
    max-width: 900px;
    margin-top:30px;
    border: 5px solid gold;
    color:#fff;
    // background-image: url('../../images/stage.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size:cover;
    // min-height: 95vh;

    .question{
        font-size: 24px;
        font-family: "Concert One", sans-serif;
    }

    .hints{
        text-align: center;
        width:60%;
        margin:0 auto;
        margin-top:50px;

        p{
            position: relative;
            background-color: gold;
            color:#000;
            padding: 15px;
            text-transform:uppercase;
            font-weight: bolder;
            letter-spacing: 1px;

             &:hover{
                box-shadow: 0px 0px 5px 0px grey;
                cursor: pointer;                
            }
        }

        p::before{
            content: "";
            position: absolute;
            left: -20px;
            top: 0;
            width: 0;
            height: 0;
            border-top: 28px solid transparent;
            border-bottom: 23px solid transparent;
            border-right: 20px solid gold;
        }

        p::after {
                content: "";
                position: absolute;
                right: -20px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 28px solid transparent;
                border-bottom: 23px solid transparent;
                border-left: 20px solid gold;
            }

            .circle{
                background-color: green;
                color:#fff;
                border-radius: 50%;
                padding-left:5px;
            }
    }

    .poster{
        text-align: center;
        img{
        max-width:100%;
        height:200px;
        }
    }

    .answer-input{
        text-align: center;
        margin-top:50px;

        .letter-input{
            width:30px;
            text-align: center;
            font-size: 21px;
            border:none;
            border-bottom:2px solid #fff;
            outline:none;
            margin:4px;
            background: transparent;
            color:#fff;
            text-transform: uppercase;
        }
        .space{
            width:16px;
        }
    }

    .guess{
        text-align: center;
        margin-top:30px;
        button{
             padding:10px;
             color:green;
             font-family:"Bungee", sans-serif;
             font-size: 21px;
             background-color: #fff;
             border:none;

             &:hover{
                box-shadow: 0px 0px 10px 8px rgb(251, 116, 240);
             }
        }
        // margin: 0 auto;
    }

        .answer-error{
            color:red;
            font-size: 16px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }
}