.instructions{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 19, 128);
    border:5px solid rgb(255, 170, 0);
    border-radius: 8px;
    color:rgb(228, 227, 227);
    padding:15px;
    margin:0 auto;
    width:900px;
    margin-bottom: 100px;

    h2{
        text-align: center;
        font-family: var(--font);
        color:#fff;
    }

    h3{
        text-align: center;
        color: yellow;
    }

    ul{
        li{
            line-height: 1.8;
            font-size: 14px;
        }
    }

    .start-btn{
       
        margin:0 auto;
        padding:10px;

        .start-img{
            max-width:100%;
            width:200px;
            height: auto;
            cursor: pointer;
            animation: floatUpDown 2s ease-in-out infinite, glowPulse 1.5s ease-in-out infinite;
        }
    }

    @keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* move up */
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 8px rgba(0, 150, 255, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(0, 150, 255, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 8px rgba(0, 150, 255, 0.4));
  }
}

}
