.timer{
    width:55px;
    height:55px;
    border-radius: 50%;
    background-color: #fff;
    margin:0 auto;
    text-align: center;
    position: relative;
    font-size: 24px;
    padding:10px;
    
    span{
        display: block;
        margin-top:20%;
    }
}