header{
      padding:20px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap:20px;
        a{
        font-family: var(--font);
        text-decoration: none;
        color:#fff;

          &:hover{
            color:yellow;
          }
       }      

      }

      .theme-switch{
        font-family: var(--font);
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#fff;

        input{
          margin-top:5px;
        }

        &:hover{
          color:yellow;
        }
      }
}